<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of child</title>
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Optimal sleep schedule </h1>
    <table class="table table-striped">
        <form>
            <a th:href="@{/children/add/}">Add a child and find out your child's optimal sleep schedule</a>
        </form>
        <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Months</td>
            <td>Waking period min</td>
            <td>Waking period max</td>
            <td>Day time naps min</td>
            <td>Day time naps max</td>
            <td>Total hours of sleep min</td>
            <td>Total hours of sleep max</td>
            <td>Action<td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="childWithSleepSchedule, iter:${childrenWithSleepSchedule}">
            <th scope="row" th:text="${iter.index} + 1">1</th>
            <td th:text="${childWithSleepSchedule.child.name}"></td>
            <td th:text="${childWithSleepSchedule.child.getMonths}"></td>
            <td th:text="${childWithSleepSchedule.optimalSleepSchedule.getWakingPeriodMinAsString}"></td>
            <td th:text="${childWithSleepSchedule.optimalSleepSchedule.getWakingPeriodMaxAsString}"></td>
            <td th:text="${childWithSleepSchedule.optimalSleepSchedule.dayTimeNapsMin}"></td>
            <td th:text="${childWithSleepSchedule.optimalSleepSchedule.dayTimeNapsMax}"></td>
            <td th:text="${childWithSleepSchedule.optimalSleepSchedule.totalHoursOfSleepMin}"></td>
            <td th:text="${childWithSleepSchedule.optimalSleepSchedule.totalHoursOfSleepMax}"></td>
            <td><a class="btn btn-outline-danger" th:href="@{/children/list/delete/{id}(id=${childWithSleepSchedule.child.id})}">delete</a></td>
            <td><a class="btn btn-outline-primary" th:href="@{/children/list/edit/{id}(id=${childWithSleepSchedule.child.id})}">edit</a></td>
            <td><a class="btn btn-primary" th:href="@{/children/personalizedSleepSchedule/{id}/{name}(id=${childWithSleepSchedule.child.id}, name=${childWithSleepSchedule.child.name})}">Personalized schedule</a></td>
        </tr>
        </tbody>
    </table>

</div>
</body>